dag { 
    enabled  = true
}

conda {
    enabled  = true
    cacheDir = "$HOME/.conda_cache"
}

process {
    conda.enabled = true

    withName: 'reduceBamRegions_DNA' {
         conda = "${projectDir}/environnement.yml"
    }
    withName: 'reduceBamRegions_RNA' {
         conda = "${projectDir}/environnement.yml"
    }
    withName: 'filterSoftClip_Bam_DNA' {
         conda = "${projectDir}/environnement.yml"
    }
    withName: 'filterSoftClip_Bam_RNA' {
         conda = "${projectDir}/environnement.yml"
    }
    withName: 'calculateDepthDNA' {
         conda = "${projectDir}/environnement.yml"
    }
    withName: 'calculateDepthRNA' {
         conda = "${projectDir}/environnement.yml"
    }
    withName: 'duplicatsTSO500' {
         conda = "${projectDir}/environnement.yml"
    }
    withName: 'duplicatsLucatiss' {
         conda = "${projectDir}/environnement.yml"
    }
    withName: 'duplicatsCT' {
         conda = "${projectDir}/environnement.yml"
    }
    withName: 'excelToHtml' {
         conda = "${projectDir}/environnement.yml"
    }
    withName: 'generateCombinedHtml' {
         conda = "${projectDir}/environnement.yml"
    }
    withName: 'coverage2htmlDNA' {
         conda = "${projectDir}/environnement.yml"
    }
    withName: 'coverage2htmlRNA' {
         conda = "${projectDir}/environnement.yml"
    }
}
